/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_button__7tDWq {
    background-color: #3f88d5;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius: 25px;
    display: inline-flex;
    margin-top: 30px;
}
